@charset "UTF-8";



div#page-login {
    max-width: 650px;
    max-width: 575px;
    border-radius: 15px;
}
#page-login .login-sec, #page-login .image-login {
    width: 50%;
}


.image-login{
    background-image: url(image/loginimage/logindesktop.png);
}