@charset "UTF-8";

body main#main-login{
    display: none;
}


* {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0;
}

header{
    display: block;
    height: 8.0vh;
    background-color: burlywood;
    max-height: max-content;
}

button#hamburguer{
    background-color: inherit ;
    border: none;
    cursor: pointer;
    padding: 2px;
}
#burguer{
    color: #361e00;
    text-shadow: 1px 1px  #0000002d;
    
}
button#hamburguer #burguer:hover{
    color: #ff8e04;
    text-shadow: 1px 1PX 5PX #ffffff5d;
}

#hlogtit{
    height: 100%;
    display: flex;
    
    justify-content: center;
    gap: 15px;

    align-items: center;
}
#hlogtit div#hlogo{
    background-image: url(./image/livroazul.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}
div#htitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 1px 2px 3px #361e0063;
    color:#361e00;
    

}
#menu{
    position: relative;
    background-color: #c29e6e;
    padding: 10px 5px;
    display: none;
    box-shadow: 1px 1px 1px #31281c89;

}
ul#menu-list{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 15px;
    padding-left: 25px;
    align-content: space-between;
}
.menu-item{
    display: flex;
    align-content: space-between;
    
    
    
}
.menu-item a{
    color: black;
    text-shadow: 1px 1px 3px #0000004a;
    
    display: flex;
    gap: 10px;
    align-items: center;
}
.menu-item a:hover{
    color: #623600;
}
a{
    text-decoration: none;
    
}
.show{
    display: block !important;
    
}
main#main-login{
    display: flex;
    
    width: inherit;
    height: inherit;
    
    justify-content: center;
    align-items: center;

    position: static;
}

div#page-login {
    min-width: 250px;
    border: 1px solid black;
    min-height: 300px;
    background-color: white;
    display: flex;

    width: 100em;

    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);


}

.login-title{
    color: #ff8c00;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.164);
 
    letter-spacing: 3px;
}

.image-login{
    border-right: 1px solid rgba(0, 0, 0, 0.315);
    height: inherit;
    width: 250px;
    border-radius: 15px 0px 0px 15px;

 
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
    background-color: gray;
    cursor: pointer;
}


div#page-login h1.login-title{
    text-align: center;
    padding: 40px 5px 0px 0px;
}



form#login-form {
    display: flex;
    flex-direction: column;
    
    margin: auto;
    align-content: center;
    min-height: 200px;
} 
#login-form, .image-login{
    padding: 20px;
}

.login-sec{
    border-radius: 0px 15px 15px 0px;
    

}

div.campo-form{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.164);
    padding: 1px 25px;
     border-radius: 15px;
    width: 150px;
    margin: auto;
}
form#login-form div.campo-form:focus{
    background-color: gray;
}

.campo-form .material-symbols-outlined{
    
    padding: 2.5px;
}
div.campo-form label{
    color: #ff8c0085;
}

.campo-form input.input-login{
    padding: 5.5px;
    border: 0;

}
.campo-form input.input-login:focus{
    outline: 0;
}
div#userpassword{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


     min-height: 100px;
}

div#page-login div#remembercx{
    display: block;
     margin: auto;
    padding: 2px;
    width: fit-content;
}

#login-button{
    display: flex;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    margin: 7.5px auto 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.199);
    
    background-color: #ff8c00b6;
    
}
#login-button:hover{
    background-color: #ff8c0085;
    
}

#remembercx, #login-button, label[for='remember']{
    cursor: pointer;
}

.forgotpassword{
    font-size: 11px;
    margin: 10px;
    text-align: center;
    line-height: 22.0px;
}
.forgotpassword a {
    color: rgba(86, 86, 86, 0.768); 
    text-decoration: underline;
    

}
.forgotpassword a:hover {
    color: rgba(155, 126, 80, 0.768); 

}


/* MAIN DO REGISTER */

#main-register{
    display: flex;
    background-color: white;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.259);
    border-radius: 15px;    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.382);
    height: 0px;
    min-height: 600px;
    
    padding: 10px 30px;

}
#btn-return{
    background-color: transparent;
    border: none;
    color: rgb(28, 28, 28);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.522);
    padding-bottom: 15px;
    
}
#main-register h1{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    
}
#register-campos{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;
    
    width: 100%;


    margin-top: 30px;
    align-content: space-between;
}
#register-campos input {
    padding: 1px 5px;
    border-radius: 12px;


}