@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

header{
    height: 8.0vh;
    background-color: burlywood;
}


#hlogtit{
    height: 100%;
    display: flex;
    
    justify-content: center;
    gap: 15px;

    align-items: center;
}
#hlogtit div#hlogo{
    background-image: url(./image/livroazul.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}
div#htitulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 1px 2px 3px #b3c0e6;
    color:#4169E1;
    

}

main{
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;


}

div#page-login{
    min-width: 250px;
    border: 1px solid black;
    min-height: 300px;
    background-color: white;
    display: flex;

    width: 100em;

    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);


}

.login-title{
    color: #ff8c00;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.164);
 
    letter-spacing: 3px;
}

.image-login{
    border-right: 1px solid rgba(0, 0, 0, 0.315);
    height: inherit;
    width: 250px;
    border-radius: 15px 0px 0px 15px;

 
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
    background-color: gray;
    cursor: pointer;
}


div#page-login h1.login-title{
    text-align: center;
    padding: 40px 5px 0px 0px;
}



form#login-form {
    display: flex;
    flex-direction: column;
    justify-content: scretc;
    margin: auto;
    align-content: center;
    min-height: 200px;
} 
#login-form, .image-login{
    padding: 20px;
}

.login-sec{
    border-radius: 0px 15px 15px 0px;
    

}

div.campo-form{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.164);
    padding: 1px 25px;
     border-radius: 15px;
    width: 150px;
    margin: auto;
}
form#login-form div.campo-form:focus{
    background-color: gray;
}

.campo-form .material-symbols-outlined{
    
    padding: 2.5px;
}
div.campo-form label{
    color: #ff8c0085;
}

.campo-form input.input-login{
    padding: 5.5px;
    border: 0;

}
.campo-form input.input-login:focus{
    outline: 0;
}
div#userpassword{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


     min-height: 100px;
}

div#page-login div#remembercx{
    display: block;
     margin: auto;
    padding: 2px;
    width: fit-content;
}

#login-button{
    display: flex;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    margin: 7.5px auto 0px;
    background-color: #ff8c0085;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.199);


}
#login-button:hover{
    background-color: #ff8c00b6;
    
}

#remembercx, #login-button, label[for='remember']{
    cursor: pointer;
}

.forgotpassword{
    font-size: 11px;
    margin: 10px;
    text-align: center;
    line-height: 22.0px;
}
.forgotpassword a {
    color: rgba(86, 86, 86, 0.768); 
    

}
.forgotpassword a:hover {
    color: rgba(155, 126, 80, 0.768); 

}


