@charset "UTF-8";

#page-login{
    justify-content: center;
    max-width: 575px;
    border-radius: 15px;
    
}





.image-login{
        background-image: url(image/loginimage/logintablet.png);
        display: block;
        
}
#page-login .login-sec, #page-login .image-login {
    width: 50%;
}
